{% extends "layout.html" %}
{% block body%}
<form action="" method="POST">
  <label class="control">博客英文名</label>
  <p class="control">
    <input class="input is-primary" type="text" name="name" placeholder="Example: myFirstBlog">
  </p>
  <label class="control">博客中文名</label>
  <p class="control">
    <input class="input is-primary" type="text" name="title_zh" placeholder="我的第一篇博客">
  </p>
  <label class="control">作者</label>
  <p class="control">
    <input class="input is-primary" type="text" name="author" placeholder="Your Name">
  </p>
  <label class="control">发布日期</label>
  <p class="control">
    <input class="input is-primary" type="text" name="release" placeholder="Format: 2012-12-22">
  </p>
  <label class="control">标签</label>
  <p class="control">
    <input class="input is-primary" type="text" name="tags" placeholder="Example: program">
  </p>
  <label class="label">摘要</label>
  <p class="control">
    <textarea class="textarea" name="abstract" placeholder="有关博客的简短介绍"></textarea>
  </p>
  <label class="label">正文</label>
  <p class="control">
    <textarea class="textarea" name="content" placeholder="支持Markdown语法"></textarea>
  </p>
  <div class="control is-grouped action">
  <p class="control">
    <button class="button is-primary" type="submit">发表</button>
  </p>
  <p class="control">
    <button class="button is-link">取消</button>
  </p>
</div>
</form>
  

  <!--<dl>-->
    <!--<dt>name:-->
    <!--<dd><input type="text" name="name" size="30" value="{{ request.form.name }}">-->
    <!--<dt>title_zh:-->
    <!--<dd><input type="text" name="title_zh" size="30" value="{{ request.form.title_zh }}">-->
    <!--<dt>author:-->
    <!--<dd><input type="text" name="author" size="30" value="{{ request.form.author }}">-->
    <!--<dt>release:-->
    <!--<dd><input type="integer" name="release" size="30" value="{{ request.form.release }}">-->
    <!--<dt>revise:-->
    <!--<dd><input type="integer" name="revise" size="30" value="{{ request.form.revise }}"}}>-->
    <!--<dt>tags:-->
    <!--<dd><input type="text" name="tags" size="30" value="{{ request.form.tags }}">-->
    <!--<dt>abstract:-->
    <!--<dd><input type="text" name="abstract" size="30" value="{{ request.form.abstract }}">-->
    <!--<dt>content:-->
    <!--<dd><input type="text" name="content" size="30" value="{{ request.form.content }}">-->
  <!--</dl>-->
  <!--<div class="actions"><input type="submit" value="POST"></div>-->
<!--</form>-->

{% endblock %}
